ul.Geral {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

ul.Geral > li {
  border-radius: 2px;
  background: linear-gradient(to bottom right, gold, yellow);
}

ul.Geral li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul.Geral li h2 {
  margin-bottom: 10px;
}

ul.Geral li ul li {
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}
